@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "Montserrat", sans-serif;
}
img {
	width: 50%;
	height: 50%;
}
p {
	margin: 0;
	text-align: center;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
}
h1 {
	text-align: center;
	font-weight: 700;
}
h2 {
	margin: 0;
	margin-top: 10px;
}
.container {
	width: 1024px;
	margin: 0 auto ;
}
.advantages {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.items {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}
.items p {
	margin-top: 10px;
	font-size: 14px;

}
.picture-global,.picture-award,.picture-rocket {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 20px;
}
.picture-global {
	background-color: rgba(254, 199, 111, 0.3);
}
.picture-rocket {
	background-color: rgba(94, 179, 224,0.3)
}
.picture-award {
	background-color: rgba(186, 82, 225, 0.2);
}
.advantages-picture {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


@media (max-width:1024px) {
	.container {
		width: 100%;
		
	}
	.advantages {
		flex-direction: column;
		margin-top: 10px;
	}
	.items {
		margin-top: 20px;
	}
}