/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header {
	padding: 20px 30px;
	border: 1px solid black;
}
.header .header__container {
	display: flex;
	justify-content: space-between;
}
.header .header__container .header__icon {
	
}

.header .header__container .header__list {
	display: flex;
	justify-content: space-between;
}
.header .header__container .header__list .header__list-item {
	margin-right: 20px;
}
.header .header__container .header__list .header__list-item a{
	text-decoration: none;
}
.header .header__container .header__list .header__list-item a:visited{
	text-decoration: none;
	color: red;
}
.header .header__container .header__list .active {
	color: red;
	text-decoration: underline;
}

.header .header__container .header__list .header__list-item:last-child {
	margin-right: 0;
}
.header .header__container .header__list .header__list-item:hover {
	cursor: pointer;
	text-decoration: underline;
}
 */